*,
html {
     margin: 0;
     padding: 0;
}

.con {}
.container-navbar {
     background-color: #b60061;
     width: 100%;
     height: 15vh;
}

.ul-navbar {    
     display: flex;
     height: 100px;
     justify-content: center;
     align-items: center;
}

.li-navbar {
     list-style-type: none;
     padding: 10px;
     margin: 5px;
     color: white;
     font-size: 30px;
}

.li-navbar:hover {
     background-color: black;
     transition: .5s ease-in-out ;
     transition-delay:  .3s;
     border-radius: 8px;
}

.celek-nav {
     color: rgb(255, 255, 255);
     text-decoration: none;
}

.container-content {
     background-color: rgb(255, 127, 182);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 75vh;
}

.y-tub {
     background-color: #b60061;
     color: white;
     text-decoration: none;
     font-size: 20px;
     width: 400px;
     height: 400px;
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     align-items: center;
     border-radius: 80px;
}
    
.img-content {
     width: 250px;
     height:  250px;
     border-radius: 50px;

}

.con-footer {
     height: 10vh;
     background-color: #b60061;
     display: flex;
     justify-content: center;
     align-items: center;

}

.hi-footer {
     font-size: 40px;
     color: white;
}